# Файлы по расширению
*.log
*.tmp
*.pyc
*.pyo
*.pyd
*.sqlite
*.sqlite3
*.pickle
*.gpickle
*.msgpack
# *.json
# *.ipynb

# Папки и их содержимое (полностью исключены)
node_modules/*
*/build/*
*/dist/*
*/target/*
.DS_Store

# Папки, содержимое которых игнорируется, но сами папки видны
*/__pycache__/*
*/*tmp*/*
*/*log*/*
*/*temp*/*
*/*cache*/*